*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.Qrcode{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: black;
    background-color: white;
    position: relative;
    /* border: 2px solid wi; */
}
.Qrcode h1{
    width: 100%;
    color: white;
    background-color: black;
    margin-top: -2px;
    border-radius: 2px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 29px;
    padding: 6px 0px;
}

.Qrcode #readr{
    display: flex;
    flex-direction: column;
    border: 3px solid gray;
    border-radius: 5px;
    width: 90%;
    height: auto;
    margin: 150px auto;
}
.Qrcode #readr #readr__dashboard_section{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.Qrcode #readr #readr__dashboard_section_csr{
    display: flex;
    flex-direction: column;
}
.Qrcode #readr #readr__dashboard_section_csr span{
    display: block;
}

.Qrcode #readr #readr__dashboard_section_csr button{
    width: 200px;
    padding: 10px;
    margin: 6px auto;
    font-weight: bold;
    color: white;
    background-color: black;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    border: none !important;
    cursor: pointer;
}

.Qrcode  #html5-qrcode-anchor-scan-type-change{
    display: none !important;
}
.Qrcode .det{
    /* border: 2px solid crimson; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    height: 94vh;
    margin-top: 0px;
}

.Qrcode .det .success{
    width: 100%;
    height: auto;
}

.Qrcode .det img{
    /* border: 2px solid black; */
    height: 240px;
    width: 90%;
    margin: 10px auto;
    margin-top: 20px;
    object-fit: cover;
}

.Qrcode .det .err1{
    background-color: red;
    width: 100%;
    height: 100%;
    color: white;
}
.Qrcode .det .err1 h2{
    font-size: 32px;
    text-transform: uppercase;
}
.Qrcode .det .err1 span{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

.Qrcode .det .err1 h6{
    font-weight: bold;
    font-size:32px;
    margin-top: 10px;
    text-transform: uppercase;
}

.Qrcode .det .err1 h5{
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 4px;
}

.Qrcode .det .err1 button{
    padding: 15px 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    border: none;
    background-color: white;
    border-radius: 27px;
    margin-top: 30px;
    color: red;
}



.Qrcode .det .err2{
    background-color: red;
    width: 100%;
    height: 100%;
    color: white;
}
.Qrcode .det .err2 h2{
    font-size: 32px;
    text-transform: uppercase;
}
.Qrcode .det .err2 span{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}

.Qrcode .det .err2 h6{
    font-weight: bold;
    font-size:32px;
    margin-top: 10px;
    text-transform: uppercase;
}

.Qrcode .det .err2 h5{
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 4px;
}

.Qrcode .det .err2 button{
    padding: 15px 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    border: none;
    background-color: white;
    border-radius: 27px;
    margin-top: 30px;
    color: red;
}





.Qrcode .det .success{
    background-color: #33AB33;
    width: 100%;
    height: 100%;
    color: white;
}
.Qrcode .det .success h2{
    font-size: 32px;
    text-transform: uppercase;
}
.Qrcode .det .success span{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}

.Qrcode .det .success h6{
    font-weight: bold;
    font-size:32px;
    margin-top: 10px;
    text-transform: uppercase;
}

.Qrcode .det .success h5{
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 4px;
}

.Qrcode .det .success button{
    padding: 15px 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    border: none;
    background-color: white;
    border-radius: 27px;
    margin-top: 30px;
    color: #33AB33;
}


.Qrcode .det .success img{
    height: 255px;
    width: 255px;
    border-radius: 50%;
}

